    <hr style="height: 2px; background: #333">
    <div class="container">
      <div class="columns is-multiline">
        <!-- Row 1 -->
        <!-- 1, 1 -->
        <div class="column is-one-third">
          <div class="gif-container">
            <div class="gif-wrapper">
              <img width="100%" src="{{ url_for('static', filename='eg_videos/0004577.gif') }}" alt="GIF 1">
            </div>
            <p style="text-align: left;font-family:Times New Roman;">
              prompt: completely base your choice of which one to visit today on the dish that most entices your taste buds, 1080P, high quality, comic
              <br>
            </p>
            <table class="table is-two-fifths">
              <thead><tr style="background-color: rgba(110, 194, 134, 0.15);">
                  <th>VQ</th><th>TC</th><th>DD</th><th>TVA</th><th>FC</th>
                </tr></thead>
              <tbody><tr ><td>3</td><td>3</td><td>1</td><td>3</td><td>3</td></tr></tbody>
            </table>
          </div>
        </div>
        <!-- 1, 2 -->
        <div class="column is-one-third">
          <div class="gif-container">
            <div class="gif-wrapper">
              <img width="100%" src="{{ url_for('static', filename='eg_videos/1005886.gif') }}" alt="GIF 1">
            </div>
            <p style="text-align: left;font-family:Times New Roman;">
              prompt: an African American female video editor editing videos<br><br>
            </p>
            <table class="table is-two-fifths">
              <thead><tr style="background-color: rgba(110, 194, 134, 0.15);">
                  <th>VQ</th><th>TC</th><th>DD</th><th>TVA</th><th>FC</th>
                </tr></thead>
              <tbody><tr ><td>1</td><td>1</td><td>3</td><td>3</td><td>1</td></tr></tbody>
            </table>

          </div>
        </div>
        <!-- 1, 3 -->
        <div class="column is-one-third">
          <div class="gif-container">
            <div class="gif-wrapper">
              <img width="100%" src="{{ url_for('static', filename='eg_videos/2003040.gif') }}" alt="GIF 1">
            </div>
            <p style="text-align: left;font-family:Times New Roman;">
              prompt: Cinematic, A light rain is falling. Tea pickers are picking tea in a tea garden, 4K, anime style<br><br>
            </p>
            <table class="table is-two-fifths">
              <thead><tr style="background-color: rgba(110, 194, 134, 0.15);">
                  <th>VQ</th><th>TC</th><th>DD</th><th>TVA</th><th>FC</th>
                </tr></thead>
              <tbody><tr ><td>3</td><td>2</td><td>3</td><td>3</td><td>1</td></tr></tbody>
            </table>
          </div>
        </div>
        <!-- Row 2 -->
        <!-- 2, 1 -->
        <div class="column is-one-third">
          <div class="gif-container">
            <div class="gif-wrapper">
              <img width="100%" src="{{ url_for('static', filename='eg_videos/3003666.gif') }}" alt="GIF 1">
            </div>
            <p style="text-align: left;font-family:Times New Roman;">
              prompt: crypto new year Christmas santa money dollars pack<br>
              
            </p>
            <table class="table is-two-fifths">
              <thead><tr style="background-color: rgba(110, 194, 134, 0.15);">
                  <th>VQ</th><th>TC</th><th>DD</th><th>TVA</th><th>FC</th>
                </tr></thead>
              <tbody><tr ><td>1</td><td>2</td><td>3</td><td>3</td><td>1</td></tr></tbody>
            </table>
          </div>
        </div>
        <!-- 2, 2 -->
        <div class="column is-one-third">
          <div class="gif-container">
            <div class="gif-wrapper">
              <img width="100%" src="{{ url_for('static', filename='eg_videos/4004440.gif') }}" alt="GIF 1">
            </div>
            <p style="text-align: left;font-family:Times New Roman;">
              prompt: Woman receiving a rose and blushing with a smile<br>
              
            </p>
            <table class="table is-two-fifths">
              <thead><tr style="background-color: rgba(110, 194, 134, 0.15);">
                  <th>VQ</th><th>TC</th><th>DD</th><th>TVA</th><th>FC</th>
                </tr></thead>
              <tbody><tr ><td>2</td><td>2</td><td>3</td><td>3</td><td>2</td></tr></tbody>
            </table>
          </div>
        </div>
        <!-- 2, 3 -->
        <div class="column is-one-third">
          <div class="gif-container">
            <div class="gif-wrapper">
              <img width="100%" src="{{ url_for('static', filename='eg_videos/5001175.gif') }}" alt="GIF 1">
            </div>
            <p style="text-align: left;font-family:Times New Roman;">
              prompt: panorama gold coast city  in future as a dystopian prison<br>
              
            </p>
            <table class="table is-two-fifths">
              <thead><tr style="background-color: rgba(110, 194, 134, 0.15);">
                  <th>VQ</th><th>TC</th><th>DD</th><th>TVA</th><th>FC</th>
                </tr></thead>
              <tbody><tr ><td>2</td><td>3</td><td>3</td><td>2</td><td>3</td></tr></tbody>
            </table>
          </div>
        </div>
        <!-- Row 3 -->
        <!-- 3, 1 -->
        <div class="column is-one-third">
          <div class="gif-container">
            <div class="gif-wrapper">
              <img width="100%" src="{{ url_for('static', filename='eg_videos/6003973.gif') }}" alt="GIF 1">
            </div>
            <p style="text-align: left;font-family:Times New Roman;">
              prompt: little bear looks surprised as the moon gets smaller<br>
              
            </p>
            <table class="table is-two-fifths">
              <thead><tr style="background-color: rgba(110, 194, 134, 0.15);">
                  <th>VQ</th><th>TC</th><th>DD</th><th>TVA</th><th>FC</th>
                </tr></thead>
              <tbody><tr ><td>1</td><td>2</td><td>3</td><td>1</td><td>2</td></tr></tbody>
            </table>
          </div>
        </div>
        <!-- 3, 2 -->
        <div class="column is-one-third">
          <div class="gif-container">
            <div class="gif-wrapper">
              <img width="100%" src="{{ url_for('static', filename='eg_videos/7003198.gif') }}" alt="GIF 1">
            </div>
            <p style="text-align: left;font-family:Times New Roman;">
              prompt: alexandra daddario, upperbody focus, slow motion, cinematic<br>
              
            </p>
            <table class="table is-two-fifths">
              <thead><tr style="background-color: rgba(110, 194, 134, 0.15);">
                  <th>VQ</th><th>TC</th><th>DD</th><th>TVA</th><th>FC</th>
                </tr></thead>
              <tbody><tr ><td>2</td><td>2</td><td>3</td><td>3</td><td>1</td></tr></tbody>
            </table>
          </div>
        </div>
        
        <!-- 3, 3 -->
        <div class="column is-one-third">
          <div class="gif-container">
            <div class="gif-wrapper">
              <img width="100%" src="{{ url_for('static', filename='eg_videos/8001892.gif') }}" alt="GIF 1">
            </div>
            <p style="text-align: left;font-family:Times New Roman;">
              prompt: cinematic portrait of two dogs running away from a medieval man<br>
              
            </p>
            <table class="table is-two-fifths">
              <thead><tr style="background-color: rgba(110, 194, 134, 0.15);">
                  <th>VQ</th><th>TC</th><th>DD</th><th>TVA</th><th>FC</th>
                </tr></thead>
              <tbody><tr ><td>1</td><td>2</td><td>3</td><td>2</td><td>1</td></tr></tbody>
            </table>
          </div>
        </div>
        <!-- Row 4 -->
        <!-- 4, 1 -->
        <div class="column is-one-third">
          <div class="gif-container">
            <div class="gif-wrapper">
              <img width="100%" src="{{ url_for('static', filename='eg_videos/9000974.gif') }}" alt="GIF 1">
            </div>
            <p style="text-align: left;font-family:Times New Roman;">
              prompt: a skateboard on the bottom of a surfboard, front view<br>
              
            </p>
            <table class="table is-two-fifths">
              <thead><tr style="background-color: rgba(110, 194, 134, 0.15);">
                  <th>VQ</th><th>TC</th><th>DD</th><th>TVA</th><th>FC</th>
                </tr></thead>
              <tbody><tr ><td>3</td><td>3</td><td>3</td><td>3</td><td>2</td></tr></tbody>
            </table>
          </div>
        </div>
        <!-- 4, 2 -->
        <div class="column is-one-third">
          <div class="gif-container">
            <div class="gif-wrapper">
              <img width="25%" src="{{ url_for('static', filename='eg_videos/p005353.gif') }}" alt="GIF 1">
            </div>
            <p style="text-align: left;font-family:Times New Roman;">
              prompt: yellow van with trailer starts to back up<br><br>
            </p>
            <table class="table is-two-fifths">
              <thead><tr style="background-color: rgba(110, 194, 134, 0.15);">
                  <th>VQ</th><th>TC</th><th>DD</th><th>TVA</th><th>FC</th>
                </tr></thead>
              <tbody><tr ><td>4</td><td>4</td><td>4</td><td>4</td><td>4</td></tr></tbody>
            </table>
          </div>
        </div>
        <!-- 4, 3 -->
        <div class="column is-one-third">
          <div class="gif-container">
            <div class="gif-wrapper">
              <img width="100%" src="{{ url_for('static', filename='eg_videos/s000907.gif') }}" alt="GIF 1">
            </div>
            <p style="text-align: left;font-family:Times New Roman;">
              prompt: five gray wolf pups frolicking and chasing each other around a remote gravel road, surrounded by grass. The pups run and leap, chasing each other, and nipping at each other, playing<br>
            </p>
            <table class="table is-two-fifths">
              <thead><tr style="background-color: rgba(110, 194, 134, 0.15);">
                  <th>VQ</th><th>TC</th><th>DD</th><th>TVA</th><th>FC</th>
                </tr></thead>
              <tbody><tr ><td>4</td><td>2</td><td>4</td><td>2</td><td>4</td></tr></tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
    <hr style="height: 2px; background: #333">